
<div class="bowl-card mt-5 mb-5">
  <div class="image">
    <%= image_tag (bowl.image), :class => "bowl-image"%>
  </div>
  <div class="info-container">
    <div class="px-3">
      <span><%= bowl.restaurant.name %></span>
    </div>
    <div>
      <span class="px-3"><i class="fa-light fa-bowl-chopsticks-noodles"></i>: <%= bowl.soup %></span>
    </div>
    <div>
      <span class="px-3"><i class="fa-solid fa-train"></i> : <%= bowl.restaurant.station %></span>
    </div>
    <div>
      <span class="px-3"><i class="fa-solid fa-map-pin"></i> : <%= bowl.restaurant.prefecture %></span>
    </div>
  </div>
</div>
