<div class="bowl-card mt-5 mb-5">
  <div class="image">
    <%= image_tag (bowl.image), :class => "bowl-image"%>
  </div>
  <div class="name">
    <%= bowl.restaurant.name %>
  </div>
  <div class="score-container">
    <span><%= bowl.soup.capitalize %></span>
    <span>Score: ⭐️<%= bowl.score %>/5</span>
  </div>
  <div>
    <%= bowl.description %>
  </div>

</div>
