-# = render 'layouts/search'
= search_form_for @q, url: root_path do |f|
  = f.label :soup_cont
  = f.search_field :soup_cont, placeholder: 'soup'
  = f.submit
.container.mt-3
  %h1 Recent Reviews
  .bowl-container.cards
    = @bowls.each do |bowl|
      = link_to bowl_path(bowl) do
        = render 'bowl', bowl: bowl

