<div class="container">
  <h3><%= @restaurant.name %></h3>
  <h3><%= @restaurant.address %></h3>
  <% if policy(@restaurant).new? %>
    <%= link_to 'Add a bowl', new_restaurant_bowl_path(@restaurant, @bowl) %>
  <% end %>
  <div class="cards">
    <% @restaurant.bowls.reverse_each do |bowl| %>
      <%= link_to bowl_path(bowl) do %>
        <%= render 'bowls/bowl', bowl: bowl  %>
      <% end %>
    <% end %>
  </div>
</div>
