<h1>Welcome to the restaurant show page</h1>
<h2><%= @restaurant.name %></h2>
<h2><%= @restaurant.address %></h2>
<%= link_to 'Add a bowl', new_restaurant_bowl_path(@restaurant, @bowl) %>
<div>
  <% @restaurant.bowls.each do |bowl| %>
    <%= link_to bowl_path(bowl) do %>
      <%= render 'bowls/bowl', bowl: bowl  %>
    <% end %>
  <% end %>
</div>
